In [19]:
import pandas as pd
import json
from tqdm.notebook import tqdm
from glob import glob

sheets_df = pd.DataFrame()
agent_names = ['YamsT1E']

for agent_name in agent_names:
    sheet_files = glob(f'data/sheets/{agent_name}/*.json')
    sheets = []
    for filename in tqdm(sheet_files):
        with open(filename) as file:
            sheets.append(json.load(file))
            
    agent_sheets_df = pd.DataFrame(data=sheets)
    yams_sheet_columns = agent_sheets_df.columns
    agent_sheets_df['agent'] = agent_name
    sheets_df = pd.concat((sheets_df, agent_sheets_df))

sheets_df['Score'] = sheets_df.sum(axis=1, numeric_only=True)

  0%|          | 0/1000 [00:00<?, ?it/s]

In [20]:
sheets_df['Score']

0      230
1      165
2      205
3      199
4      227
      ...
995    194
996    233
997    262
998    207
999    215
Name: Score, Length: 1000, dtype: int64

In [33]:
score_median = sheets_df['Score'].median()
score_median

205.0

In [22]:
sheets_df.sort_values('Score', ascending=False).head(10)

,1,2,3,4,5,6,Bonus,Chance,Brelan,Carré,Full,Petite Suite,Grande Suite,Yams,agent,Score
119,4,2,6,16,15,30,35,22,18,24,25,30,40,50,YamsT1E,317
475,2,2,12,16,15,24,35,21,18,24,25,30,40,50,YamsT1E,314
749,4,6,12,12,20,12,35,28,15,24,25,30,40,50,YamsT1E,313
385,3,8,9,16,20,12,35,23,18,24,25,30,40,50,YamsT1E,313
776,2,4,6,16,20,24,35,21,15,24,25,30,40,50,YamsT1E,312
981,2,6,12,4,15,24,35,26,18,20,25,30,40,50,YamsT1E,307
784,4,6,6,16,20,12,35,25,18,20,25,30,40,50,YamsT1E,307
242,1,4,9,16,25,12,35,25,15,20,25,30,40,50,YamsT1E,307
184,2,2,12,20,10,18,35,23,18,20,25,30,40,50,YamsT1E,305
361,2,6,12,16,20,18,35,21,9,20,25,30,40,50,YamsT1E,304

In [42]:
tmp_sheets_df = sheets_df[sheets_df.agent=='YamsT1E']
tmp_sheets_df = tmp_sheets_df[tmp_sheets_df.Score > score_median]
total_weights = (tmp_sheets_df.Score).sum()

target_points = {}
for col in yams_sheet_columns:
    if col.isnumeric():
        col = int(col)
    target_points[col] = (tmp_sheets_df[str(col)] * tmp_sheets_df.Score).sum() / total_weights

with open('target_median_YamsT1E.json', 'w', encoding='utf-8') as output_file:
    json.dump(target_points, output_file)

target_points

{1: 2.186832974658527,
 2: 5.342614958935394,
 3: 7.894075277789978,
 4: 10.792779656550573,
 5: 12.840792305327419,
 6: 14.38255522860029,
 'Bonus': 5.820677236593614,
 'Chance': 22.960375949756248,
 'Brelan': 16.179814660283718,
 'Carré': 17.251139707497035,
 'Full': 24.600553383987,
 'Petite Suite': 30.0,
 'Grande Suite': 37.72111203829768,
 'Yams': 28.209407527778996}

In [37]:
tmp_sheets_df.max()

1                     5
2                    10
3                    15
4                    20
5                    25
6                    30
Bonus                35
Chance               29
Brelan               18
Carré                24
Full                 25
Petite Suite         30
Grande Suite         40
Yams                 50
agent           YamsT1E
Score               317
dtype: object